
name: Doxygen

on:
  pull_request:
    branches: [ main ]
    paths:
      - 'Data/**.hpp'
      - 'Kernel/**.hpp'
      - 'System/**.hpp'
      - '.github/workflows/ci-doxygen.yml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    if: always()
    continue-on-error: true
    strategy:
      fail-fast: true

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 1
    
    - name: set XMAKE_GLOBALDIR
      run: echo "XMAKE_GLOBALDIR=${{ runner.workspace }}/xmake-global" >> $GITHUB_ENV

    - uses: xmake-io/github-action-setup-xmake@v1
      with:
        xmake-version: v2.8.2
        actions-cache-folder: '.xmake-cache'

    - name: xmake repo --update
      run: xmake repo --update

    - name: Install dependencies
      run: |
        xrepo install -y doxygen

    - name: cache xmake
      uses: actions/cache@v2
      with:
        path: |
          ${{ env.XMAKE_GLOBALDIR }}/.xmake/packages
        key: ${{ runner.os }}-xmake-${{ hashFiles('**/xmake.lua') }}

    - name: config xmake
      run: xmake config --yes -vD

    - name: BUILD
      run: xmake doxygen -y -v build

    - name: Push
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages # The branch name where you want to push the assets
        FOLDER: build/html # The directory where your assets are generated
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub will automatically add this - you don't need to bother getting a token
        MESSAGE: "Build: ({sha}) {msg}" # The commit message
